
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Open Sauce One';
  src: url('/fonts/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sauce One', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

